# Virtual Environment
venv/

# Outfiles
Outfiles/

# Log file s
*.log

# Python Package
dist/
*.egg-info/

# Automation Studio Project
*.set
*.isopen
**/Binaries
**/Diagnosis
**/Temp